#wrapper{
    width: 50%;
    margin: 0 auto;
}
.navbar{
    margin-bottom: 20px;
}
.card{
    margin-bottom: 20px;
}
.box_content{
    border: none !important;
}
#box_submenu{
    width: 100%;
    height: auto;
}
#sub_menu{
    position: absolute;
    left: 100%;
    transform: translate(-100%);
}